/*
Moje paleta barev:

Glyphikony jsou ze stránky: https://icons.getbootstrap.com/
*/

$yellow: #FFE74C;
$orange: #F26419;
$pink: #FF5964;
$white: #FFFFFF;
$green: #6BF178;
$blue: #35A7FF;
$red: #F8333C;