/* Import proměnných
*/
@import 'variables';

  .col-sm-4, .col-sm-8, .col-xs-12 {
    padding: 20px 10px;
    padding-left: 50px;

    @media (max-width: 768px){
      padding-left: 10px;
    }
  }

  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }

  .panel {
    border: 1px solid $orange; 
    border-radius:0 !important;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; 
    text-align: center;
    display: block;
    background-color: white;
    margin: 10px;

      &:hover{
        border: 1px solid $orange; 
        transition: box-shadow 0.3s;
        filter: grayscale(0%);
        transition: filter 0.3s ease-in-out; 
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        transition: box-shadow 0.3s;

          h1{
          color: white;   
        
          text-shadow:
          -1px -1px 0 #000,
           1px -1px 0 #000,
          -1px  1px 0 #000,
           1px  1px 0 #000;
        }
    }
  }

  .skupina{
    padding-right: 40px;

    @media (max-width: 768px){
      padding-right: 0px;
      padding-left: 12px;
    }
  }

  .row{
    margin-right: 0px;
  }

  .panel-heading {
    background-color: $red;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 200px;
    color: $white !important; 
    
    h1{ 
      text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
    }

    background-size: cover;

    background-image: url(../img/svg/game-panel.svg);
    background-repeat: repeat;

  }

  .panel-body{
    padding: 5px;
    height: 200px;
    contain: paint;
    overflow: auto; /* Přidáváme overflow pro scrolování */
    padding: 15px;
    padding-top: 20px;
  }



  // --------------------- RECENZE ---------------------
  textarea  {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  .hodnoceni{
    display: flex;
    align-items: center;

    input{
      display:none;
    }

    input + label{
      font-size: 50px;
      cursor: pointer;
      text-shadow: 5px 0px 40px rgba(0,0,0, .5);

      @media (max-width: 500px){
        font-size: 30px;
      }
    }

    input:checked + label ~ label{
      /*
      Zde je to trošku těžší tak vysvětlim jak to funguje:

      input:checked + label ~ label vybere všechny následující <label>, 
      které jdou po zaškrtnutém <input> (a jsou tedy sourozenci začátečního <input>).
      */
      background-image: linear-gradient(lightgray 25% , white) !important;

    }

    label:active{
      transform: scale(0.8);
      transition: 0.3s ease;
    }

  }

  .autor{
    color: $orange;
    font-size: 25px;
  }

  
// --------------------- KONEC - RECENZE - KONEC ---------------------


  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;

      .panel-body {
        height: 210px;
      }
    }
  }

