/* Import proměnných
 


*/
@import 'variables';

input{
    padding: 0.2em; 
    padding-left: 25px;
    box-sizing: border-box;
    width: 100% 
  }

  .login{
    border: solid 3px $red;
    padding: 5px;
    font-family: 'VT323', monospace;
    border-radius: 10px;
    box-shadow: 5px 0px 40px rgba(0,0,0, .5);
    background-image: linear-gradient($pink 25% , $yellow);

  }

  .parametry{
    font-size: 20px;
  }

  // ---------------------------------------- User ----------------------------------------
  .jmeno {
  position: relative;

  input {
    width: 100%;
    height: 50px;
    border: 2px solid $pink;
    border-radius: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    transition-duration: 0.1s;

    &::placeholder {
      color: $pink;
      font-size: 20px;
      background: transparent url(../img/icons/person.svg) no-repeat right 10px center;
      background-size: 25px;
    }
  }

  input:focus {
    border: none;
    color: $red;
    border: solid $red;
  }
}

// ---------------------------------------- Příjmení ----------------------------------------
.prijmeni {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../img/icons/gem.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

  // ---------------------------------------- Gamer Tag ----------------------------------------
  .gamertag {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../img/icons/controller.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

// ---------------------------------------- Heslo ----------------------------------------
.pass {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../img/icons/lock-fill.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

  // ---------------------------------------- Email ----------------------------------------
.email {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../img/icons/envelope-paper-heart.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

    // ---------------------------------------- Právo ----------------------------------------
.pravo {
  position: relative;

  p{
    font-size: 35px;
  }
}

  // ---------------------------------------- Odhlášení ----------------------------------------
    .center-tlacitka {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 3px;
  }

select {
  transition: border-color 0.3s ease-in-out;
  outline: none;
  border: 3px solid $pink;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  font-size: 15px;

  background-image: linear-gradient($pink 1% , $yellow);
  margin-bottom: 10px;

  @media screen and (max-width: 1000px) {
    width: 150px;
  }

  @media screen and (max-width: 767px) {
    width: 100px;
  }
  
  &:hover{
    cursor: pointer;
  }

  &:focus {
    background-color: #f8f8f8;
    background-image: linear-gradient($yellow 1% , $pink);
    border-color: $yellow;
  }
}

// ---------------------------------------- uprava ----------------------------------------

.foto-panel {
  border: solid 3px $red;
  padding: 5px;
  font-family: 'VT323', monospace;
  border-radius: 10px;
  box-shadow: 5px 0px 40px rgba(0,0,0, .5);
  background-image: linear-gradient($pink 25% , $yellow);


}
.fotka {
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 50%;
}

.col-md-4, .col-md-8, .col-md-12{
  padding: 30px;
}


// ---------------------------------------- uprava - CUSTOM TLACITKO NA NAHRANI SOUBORU ----------------------------------------

.btn-checklg{
  width: 60px;
  height: 60px;
  background-color: lawngreen;
  border-radius: 50%;
  margin: 0px !important;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover{
    background-color: $green;
  }
}

.checklg{
  width: 25px;
  height: 25px;
}


// ---------------------------------------- uprava - KONEC UPRAVY CUSTOM TLACITKA ----------------------------------------


