/* Import proměnných
 
Glyphikony jsou ze stránky: https://icons.getbootstrap.com/

*/
@import 'variables';

input{
    padding: 0.2em; 
    padding-left: 25px;
    box-sizing: border-box;
    width: 100% 
  }

  .login{
    border: solid 3px $red;
    padding: 5px;
    font-family: 'VT323', monospace;
    border-radius: 10px;
    box-shadow: 5px 0px 40px rgba(0,0,0, .5);
    background-image: linear-gradient($pink 25% , $yellow);

  }

  // ---------------------------------------- User ----------------------------------------
  .jmeno {
  position: relative;

  input {
    width: 100%;
    height: 50px;
    border: 2px solid $pink;
    border-radius: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    transition-duration: 0.1s;

    &::placeholder {
      color: $pink;
      font-size: 20px;
      background: transparent url(../icons/person.svg) no-repeat right 10px center;
      background-size: 25px;
    }
  }

  input:focus {
    border: none;
    color: $red;
    border: solid $red;
  }
}

// ---------------------------------------- Příjmení ----------------------------------------
.prijmeni {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../icons/gem.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

  // ---------------------------------------- Gamer Tag ----------------------------------------
  .gamertag {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../icons/controller.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

// ---------------------------------------- Heslo ----------------------------------------
.pass {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../icons/lock-fill.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

  // ---------------------------------------- Email ----------------------------------------
.email {
    position: relative;
  
    input {
      width: 100%;
      height: 50px;
      border: 2px solid $pink;
      border-radius: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;
      transition-duration: 0.1s;
  
      &::placeholder {
        color: $pink;
        font-size: 20px;
        background: transparent url(../icons/envelope-paper-heart.svg) no-repeat right 10px center;
        background-size: 20px;
      }
    }

    input:focus {
      border: none;
      color: $red;
      border: solid $red;
    }
  }

    // ---------------------------------------- Právo ----------------------------------------
.pravo {
  position: relative;

  input {
    width: 100%;
    height: 50px;
    border: 2px solid $pink;
    border-radius: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    transition-duration: 0.1s;

    &::placeholder {
      color: $pink;
      font-size: 20px;
      background: transparent url(../icons/envelope-paper-heart.svg) no-repeat right 10px center;
      background-size: 20px;
    }
  }

  input:focus {
    border: none;
    color: $red;
    border: solid $red;
  }
}


